
  <!-- carrusel --->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="img/Slide-DiplomadosPS-80000.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/Slide-Icontec.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/Slide-Diplomados-80000.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- contenido principal --->
  <br>
  <center>
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4" >
        <img src="img/shutterstock_213309802-1-scaled.jpg" style="height: 310px; width: 610px;" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text" style="text-align: left ;">En la Institución Educativa Ciencia y Tecnología, impulsamos mentes curiosas y preparadas para el futuro. Con enfoque en la excelencia académica y la innovación, nuestros estudiantes exploran el mundo de la ciencia y la tecnología, listos para convertirse en líderes del mañana. Únete a nosotros y descubre el potencial ilimitado en nuestra comunidad.</p>
        </div>
      </div>
    </div>
  </div>
</center>
