<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertar">
  Insertar
</button>

<!-- Modal -->
<div class="modal fade" id="insertar" tabindex="-1" aria-labelledby="insertarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="insertarLabel">Crear Nuevo Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/guardar" method="post">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="formGroupExampleInput" >
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="formGroupExampleInput">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Correo</label>
            <input type="email" class="form-control" name="mail" id="formGroupExampleInput">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Usuario</label>
            <input type="text" class="form-control" name="user" id="formGroupExampleInput">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="pass" id="formGroupExampleInput">
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
        </form>

      </div>
      
    </div>
  </div>
</div>