
<form action="/buscarPersonas" method="post">
          <div class="mb-3">
            <label for="txtBuscar" class="form-label">Buscar</label>
            <input type="text" class="form-control" name="txtBuscar" id="txtBuscar" placeholder="Informacion">
          </div>
         
          <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="/dashboard" class="btn btn-primary">Limpiar</a>
      </div>
        </form>