 <!-- footer -->
  <footer class="footerh" style="text-align: center; background-color: #33373E; padding: 20px;">
    <p>Licencia de funcionamiento mediante Resolución N°09734 de 2013 - Vigilado y Contralado
      ponsecretaría de Educación de Medellin</p>
    <p>Calle 37 N° 76-45. Estación Santa Lucia del Metro Medellin Tel: (604) 448 2345 tución Educativa Ciencia y
      Tecnología 2015.</p>

    <p>&copy; 2024. Todos los derechos reservados. Diseñado por IECT</p>
  </footer>